*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format(woff2);
  font-display: swap;
}

html {
  height: 100%;
}

.main-wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
}

.main-container {
  flex-grow: 1;
}

/* скрытие невидимого контента */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo-wrapper {
  position: relative;
  align-self: flex-start;
  max-width: 140px;

}

.logo {
  width: 140px;
  height: 70px;
  z-index: 1;
}

.main-header {
  display: flex;
  align-items: center;
  min-height: 64px;
  padding: 0 70px;
  margin-bottom: -6px;
}

.navigation {
  margin-left: 30px;
  max-width: 500px;
}

.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: end;
  margin-left: auto;
  width: 370px;
  align-items:center;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  list-style-type: none;
  padding: 20px 16px;
}

.navigation-user-search {
  display: block;
  width: 44px;
  padding: 22px 12px;
}

.navigation-user-favourites {
  display: block;
  width: 44px;
  padding: 22px 12px;
  margin-right: 20px;
}

.navigation-user-btn {
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  min-width: 160px;
  min-height: 36px;
  padding: 8px 24px;
  background-color: #756157;
  color: #ffffff;
  border-radius: 4px;
  text-align: center;
}

/* Главная */
.hero {
  background-image: url("../images/divider.svg"),
    url("../images/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, center;
  background-size: 100% auto, cover;
  background-color: rgba(131, 179, 211, 0.60);
  padding: 51px 371px 80px 371px;
}

.reasons-section-description {
  text-align: center;
  padding: 69px 270px;
  margin-bottom: 21px;
}

.service-section-description {
  text-align: center;
  padding: 64px 270px;
}

.reasons-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(3, minmax(385px, auto));
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.service-item {
  width: 400px;
  min-height: 385px;
  text-align: center;
}

.reasons-item {
  padding: 100px 85px;
  background-color: rgba(131, 179, 211, 0.12);
}

.service-item {
  padding: 81px 85px;
}

.reasons-item-img {
  display: block;
}

.reasons-item-picture {
  grid-column: span 2;
}

.reasons-title,
.service-title,
.interested-title,
.subscribe-title,
.search-result-hotels,
.subscribe-catalog-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.reason-text,
.service-text,
.interested-text,
.subscribe-text,
.subscribe-catalog-text {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
}

.reasons-item-title,
.service-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.service-item-text {
  color: #333333;
}

.reasons-item-blue {
  background-color: #82B3D3;
  color: #ffffff;
}

.reason-item-lightblue {
  background-color: rgba(131, 179, 211, 0.2);
}

.service-item-bg {
  background-color: rgba(131, 179, 211, 0.12);
}

.interested {
  text-align: center;
  padding: 96px 304px;
}

.interested-text {
  margin-bottom: 54px;
}

.search-button,
.subscribe-button {
  display: block;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
}

.search-button {
  background-color: #756157;
  padding: 8px 50px;
  border-radius: 4px;
  cursor: pointer;
}

.subscribe-button {
  background-color: #82B3D3;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  margin: 0;
  border: none;
}

.subscribe {
  height: 414px;
  background-image: url("../images/subscriber-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #83b3d3;
  text-align: center;
  padding: 96px 258px 104px;
}

.subscribe-form {
  display: flex;
}

.subscribe-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  padding: 14px 230px 14px 20px;
  border-radius: 4px 0 0 4px;
  margin: 0;
  border: none;
  background-color: #f2f2f2;
}

.subscribe-title,
.subscribe-text {
  color: #ffffff;
}

.subscribe-text,
.subscribe-catalog-text {
  margin-bottom: 54px;
}

/* Подвал */
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 30px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-left: 70px;
  width: 240px;
}

.phone {
  width: 400px;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.logo-htmlacademy {
  width: 240px;
  margin-right: 70px;
  text-align: end;
}

/* Каталог */
.catalog-filter {
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #83b3d3;
  color: #ffffff;
  padding: 35px 70px 70px;
}

.catalog-filter-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  margin-bottom: 40px;
}

.catalog-filter-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 8px;
}

.catalog-filter-nav-item-hotels {
  font-size: 16px;
  line-height: 21px;
}

.hotels-filter {
  display: flex;
}

.infrastructure {
  border: none;
  padding: 0;
  margin: 0 70px 0 0;
  width: 150px;
}

.infrastructure-list {
  padding: 0;
  margin: 0;
}

.type-of-housing {
  border: none;
  padding: 0;
  margin: 0 160px 0 0;
  width: 150px;
}

.type-of-housing-list {
  padding: 0;
  margin: 0;
}

.cost {
  border: none;
  margin: 0;
  padding: 0;
  max-width: 288px;
  margin-right: 50px;
}

.infrastructure-title,
.type-of-housing-title,
.cost-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
  padding: 0;
}

.infrastructure-item,
.type-of-housing-item {
  line-height: 23px;
  list-style-type: none;
  margin-right: auto;
}

.card-conteiner {
  width: 286px;
}

.card-content {
  display: flex;
}

.card-content input {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #f2f2f2;
  padding: 12px 0 12px 20px;
  width: 141px;
}

.card-content input:first-child {
  border-radius: 4px 0 0 4px;
}

.card-content input:last-child {
  border-radius: 0 4px 4px 0;
}

.hotels-filter-btn,
.hotels-filter-btn-reset,
.catalog-item-link,
.catalog-item-btn {
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.hotels-filter-btn {
  font-family: inherit;
  padding: 8px 50px;
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 191px;
  height: 36px;
  margin-top: 56px;
  margin-bottom: 32px;
}

.hotels-filter-btn-reset {
  font-family: inherit;
  padding: 8px 50px;
  border: none;
  background: none;
  cursor: pointer;
  width: 191px;
  height: 36px;
  margin: 0;
}

.search-result {
  padding: 0 70px;
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 40px;
}

.result-wrapper {
  width: 538px;
}

.search-result-view {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 216px;
  margin-left: auto;
  justify-content: end;
  list-style-type: none;
}

.search-result-view-item {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;

}

.search-result-view-item a {
  display: block;
}

.search-result-active {
  border: 2px solid #000000;
}

.search-result-view-item:not(:last-child) {
  margin-right: 8px;
}

.search-result-hotels {
  margin: 0;
}

.search-result select {
  width: 292px;
  height: 49px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding: 12px 13px 12px 20px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.catalog {
  margin: 0;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  padding: 0 70px;
  margin: 0;
}

.catalog-item {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 20px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.catalog-item-description {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
  margin-top: auto;
}

.catalog-item-btn,
.catalog-item-rating,
.catalog-item-price {
  justify-self: end;
  align-self: center;
}

.catalog-item-type {
  align-self: center;
}

.catalog-item p {
  margin: 0;
}

.catalog-item-link {
  padding: 8px 26px;
  background-color: #756157;
  border-radius: 4px;
  align-self: center;
  margin: 0;
}

.catalog-item-btn {
  font-family: inherit;
  padding: 8px 20px;
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
}

.catalog-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

.catalog-item a {
  text-decoration: none;
}

.catalog-item img {
  display: block;
}

.catalog-item-type,
.catalog-item-price,
.catalog-item-rating,
.subscribe-catalog-text {
  color: #333333;
}

.catalog-item-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 9px 22px 8px 23px;
  align-self: center;
}

.subscribe-catalog {
  height: 414px;
  text-align: center;
  padding: 96px 258px 104px;
}

.pagination {
  display: flex;
  column-gap: 8px;
  padding: 0;
  padding-left: 70px;
  list-style-type: none;
}

.pagination-item {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination span {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
}

.pagination a {
  display: block;
  min-width: 60px;
  height: 60px;
  border-radius: 4px;
  text-decoration: none;
  color: #ffffff;
  background-color: #82B3D3;
  text-align: center;
  line-height: 60px;
  padding: 0 3px;
}

.pagination-item-active a {
  color: #000000;
  background-color: #f2f2f2;
}
